In [1]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import openpyxl
import matplotlib as plt
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import datetime
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [2]:
wfm = pd.read_excel(r'D:\\UF_Local_File\\MCM_2024\\Wimbledon_featured_matches.xlsx')

In [3]:
print(wfm["match_id"].unique())
for column_name in wfm.columns:
    print(column_name)
wfm

['2023-wimbledon-1301' '2023-wimbledon-1302' '2023-wimbledon-1303'
 '2023-wimbledon-1304' '2023-wimbledon-1305' '2023-wimbledon-1306'
 '2023-wimbledon-1307' '2023-wimbledon-1308' '2023-wimbledon-1309'
 '2023-wimbledon-1310' '2023-wimbledon-1311' '2023-wimbledon-1312'
 '2023-wimbledon-1313' '2023-wimbledon-1314' '2023-wimbledon-1315'
 '2023-wimbledon-1316' '2023-wimbledon-1401' '2023-wimbledon-1402'
 '2023-wimbledon-1403' '2023-wimbledon-1404' '2023-wimbledon-1405'
 '2023-wimbledon-1406' '2023-wimbledon-1407' '2023-wimbledon-1408'
 '2023-wimbledon-1501' '2023-wimbledon-1502' '2023-wimbledon-1503'
 '2023-wimbledon-1504' '2023-wimbledon-1601' '2023-wimbledon-1602'
 '2023-wimbledon-1701']
match_id
player1
player2
elapsed_time
set_no
game_no
point_no
p1_sets
p2_sets
p1_games
p2_games
p1_score
p2_score
server
serve_no
point_victor
p1_points_won
p2_points_won
game_victor
set_victor
p1_ace
p2_ace
p1_winner
p2_winner
winner_shot_type
p1_double_fault
p2_double_fault
p1_unf_err
p2_unf_err
p1_net_pt
p2_net_pt
p1_net_pt_won
p2_net_pt_won
p1_break_pt
p2_break_pt
p1_break_pt_won
p2_break_pt_won
p1_break_pt_missed
p2_break_pt_missed
p1_distance_run
p2_distance_run
rally_count
speed_mph
serve_width
serve_depth
return_depth

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
0,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:00,1,1,1,0,0,0,...,0,0,0,6.000,7.840,2,95.0,BC,NCTL,ND
1,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:38,1,1,2,0,0,0,...,0,0,0,5.253,7.094,1,118.0,B,CTL,ND
2,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:01,1,1,3,0,0,0,...,0,0,0,13.800,19.808,4,120.0,B,NCTL,D
3,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:31,1,1,4,0,0,0,...,0,0,0,51.108,75.631,13,130.0,BW,CTL,D
4,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:02:21,1,1,5,0,0,0,...,0,0,0,0.649,0.813,1,112.0,W,NCTL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7279,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:39:58,5,10,330,2,2,5,...,0,0,0,38.620,50.971,11,123.0,C,NCTL,D
7280,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:40:43,5,10,331,2,2,5,...,0,0,0,17.533,27.766,5,114.0,W,NCTL,ND
7281,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:41:20,5,10,332,2,2,5,...,0,0,0,10.882,18.328,4,124.0,W,NCTL,D
7282,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:41:52,5,10,333,2,2,5,...,0,0,0,7.893,10.537,1,130.0,C,NCTL,D
7283,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:42:27,5,10,334,2,2,5,...,0,0,0,17.811,25.367,3,129.0,BW,NCTL,ND

In [4]:
def convert_to_elapsed_time(timestamp):
    return timestamp.strftime('%H:%M:%S')  # Format datetime.time object to "hh:mm:ss"

# Apply the conversion function to the 'elapsed_time' column of your actual DataFrame 'wfm'
wfm['elapsed_time'] = wfm['elapsed_time'].apply(convert_to_elapsed_time)

# Find NaN values in the DataFrame 'wfm'
nan_locations = wfm.isna()

# Iterate over each column to identify NaN values and print match_id, column name, elapsed_time
for col in wfm.columns:
    for idx, is_nan in nan_locations[col].items():
        if is_nan:  # Check if the value at this location is NaN
            match_id = wfm.loc[idx, 'match_id']
            column_name = col
            if wfm.loc[idx+1, 'serve_no'] == 2:
                failed_first_serve = True
            else:
                failed_first_serve = False
            double_fault = True if wfm.loc[idx, 'p1_double_fault'] == wfm.loc[idx, 'p2_double_fault'] else False
            elapsed_time = wfm.loc[idx, 'elapsed_time'] if 'elapsed_time' in wfm.columns else None
            print(f"NaN found in Match ID: {match_id[-4:]}, Column Name: {column_name}, Elapsed Time: {elapsed_time}, Is failed first serve? {failed_first_serve}, Is double fault? {double_fault}")

NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 00:32:57, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 02:06:20, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 02:14:53, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 02:28:21, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 02:53:10, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 02:55:10, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 03:05:04, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 03:13:12, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 03:22:58, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 03:28:08, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1301, Column Name: speed_mph, Elapsed Time: 03:33:45, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1302, Column Name: speed_mph, Elapsed Time: 00:02:32, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1302, Column Name: speed_mph, Elapsed Time: 00:38:23, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1302, Column Name: speed_mph, Elapsed Time: 01:00:48, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1302, Column Name: speed_mph, Elapsed Time: 02:00:47, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1302, Column Name: speed_mph, Elapsed Time: 03:07:09, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1303, Column Name: speed_mph, Elapsed Time: 00:06:46, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1303, Column Name: speed_mph, Elapsed Time: 00:07:20, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1303, Column Name: speed_mph, Elapsed Time: 00:16:59, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1303, Column Name: speed_mph, Elapsed Time: 01:02:25, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 00:08:53, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 00:21:32, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 00:44:58, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 00:50:26, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 01:04:47, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 01:19:02, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 02:55:35, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 03:02:29, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 03:52:35, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1304, Column Name: speed_mph, Elapsed Time: 04:19:12, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 00:00:21, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 00:57:29, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 01:07:25, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 01:27:31, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 01:33:17, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 01:40:35, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 01:55:31, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 02:05:43, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 02:38:14, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 02:52:49, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1305, Column Name: speed_mph, Elapsed Time: 03:02:45, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 00:39:24, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 00:50:37, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 03:48:46, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 04:16:13, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 04:22:44, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 04:34:32, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1306, Column Name: speed_mph, Elapsed Time: 06:13:56, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 00:00:52, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 00:05:06, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 02:54:58, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 03:42:21, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 04:16:00, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1307, Column Name: speed_mph, Elapsed Time: 05:01:55, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1308, Column Name: speed_mph, Elapsed Time: 00:35:32, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1308, Column Name: speed_mph, Elapsed Time: 00:36:58, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1308, Column Name: speed_mph, Elapsed Time: 01:29:24, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1308, Column Name: speed_mph, Elapsed Time: 02:06:00, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:01:36, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:04:29, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:07:51, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:10:04, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:31:51, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:34:55, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:37:52, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 00:50:58, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:00:58, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:04:54, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:06:25, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:10:01, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:11:36, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:15:19, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:24:56, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:27:40, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:39:18, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:48:14, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:52:07, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 01:53:16, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 02:02:50, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 02:04:40, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1309, Column Name: speed_mph, Elapsed Time: 02:08:46, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:00:00, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:00:35, Is failed first serve? True, Is double fault? False
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:01:00, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:01:37, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:02:05, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:02:34, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:03:23, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:03:45, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:04:08, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:04:56, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:05:27, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:06:14, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:07:33, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:08:06, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:08:48, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:09:26, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:10:02, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:10:46, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:11:22, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:11:44, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:12:20, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:13:11, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:13:58, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:14:26, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:14:55, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:15:15, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:15:43, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:17:45, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:18:14, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:19:15, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:19:43, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:20:38, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:21:20, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:21:50, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:22:16, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:22:47, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:23:23, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:24:00, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:24:19, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:24:48, Is failed first serve? False, Is double fault? False
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:26:45, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:27:24, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:27:56, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:28:41, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:29:11, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:29:40, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:30:12, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:30:29, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:30:55, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:31:15, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:31:55, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:34:12, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:34:26, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:35:07, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:35:26, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:35:59, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:38:00, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:38:22, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:39:05, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:39:38, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:40:50, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:41:08, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:41:39, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:42:00, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:42:54, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:43:35, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:44:34, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:45:23, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:46:02, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:46:37, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:47:43, Is failed first serve? True, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:49:05, Is failed first serve? False, Is double fault? True
NaN found in Match ID: 1310, Column Name: speed_mph, Elapsed Time: 00:49:53, Is failed first serve? False, Is double fault? True

In [5]:
match_dfs = {}
match_ids = wfm["match_id"].unique()
for match_id in match_ids:
    match_dfs[match_id] = wfm[wfm["match_id"] == match_id]

match_dfs

{'2023-wimbledon-1301':                 match_id         player1        player2 elapsed_time  set_no  \
 0    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:00       1
 1    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:38       1
 2    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:01       1
 3    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:31       1
 4    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:02:21       1
 ..                   ...             ...            ...          ...     ...
 295  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:53:25       4
 296  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:54:01       4
 297  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:02       4
 298  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:34       4
 299  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:56:11       4

      game_no  point_no  p1_sets  p2_sets  p1_games  ...  p2_break_pt_won  \
 0          1         1        0        0         0  ...                0
 1          1         2        0        0         0  ...                0
 2          1         3        0        0         0  ...                0
 3          1         4        0        0         0  ...                0
 4          1         5        0        0         0  ...                0
 ..       ...       ...      ...      ...       ...  ...              ...
 295       12       296        2        1         6  ...                0
 296       12       297        2        1         6  ...                0
 297       12       298        2        1         6  ...                0
 298       12       299        2        1         6  ...                0
 299       12       300        2        1         6  ...                0

     p1_break_pt_missed p2_break_pt_missed  p1_distance_run  p2_distance_run  \
 0                    0                  0            6.000            7.840
 1                    0                  0            5.253            7.094
 2                    0                  0           13.800           19.808
 3                    0                  0           51.108           75.631
 4                    0                  0            0.649            0.813
 ..                 ...                ...              ...              ...
 295                  0                  0           10.044            9.281
 296                  0                  0           52.318           58.723
 297                  0                  1            2.056            1.509
 298                  0                  0           12.292           32.582
 299                  0                  0            3.767            6.518

      rally_count  speed_mph  serve_width  serve_depth  return_depth
 0              2       95.0           BC         NCTL            ND
 1              1      118.0            B          CTL            ND
 2              4      120.0            B         NCTL             D
 3             13      130.0           BW          CTL             D
 4              1      112.0            W         NCTL           NaN
 ..           ...        ...          ...          ...           ...
 295            2      130.0           BW         NCTL            ND
 296           14      113.0           BW         NCTL            ND
 297            1      129.0            B         NCTL            ND
 298            1      128.0            C         NCTL            ND
 299            1      116.0           BW         NCTL            ND

 [300 rows x 46 columns],
 '2023-wimbledon-1302':                 match_id           player1            player2 elapsed_time  \
 300  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:00
 301  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:36
 302  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:58
 303  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:01:52
 304  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:02:32
 ..                   ...               ...                ...          ...
 496  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:10:52
 497  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:11:31
 498  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:05
 499  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:44
 500  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:13:32

      set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
 300       1        1         1        0        0         0  ...
 301       1        1         2        0        0         0  ...
 302       1        1         3        0        0         0  ...
 303       1        1         4        0        0         0  ...
 304       1        1         5        0        0         0  ...
 ..      ...      ...       ...      ...      ...       ...  ...
 496       3       13       197        0        2         6  ...
 497       3       13       198        0        2         6  ...
 498       3       13       199        0        2         6  ...
 499       3       13       200        0        2         6  ...
 500       3       13       201        0        2         6  ...

      p2_break_pt_won p1_break_pt_missed p2_break_pt_missed  p1_distance_run  \
 300                0                  0                  0           13.646
 301                0                  0                  0            6.596
 302                0                  0                  0           72.403
 303                0                  0                  0           17.565
 304                0                  0                  0            3.195
 ..               ...                ...                ...              ...
 496                0                  0                  0            8.535
 497                0                  0                  0            5.539
 498                0                  0                  0            2.755
 499                0                  0                  0           15.573
 500                0                  0                  0            0.830

      p2_distance_run  rally_count  speed_mph  serve_width  serve_depth  \
 300            5.293            2      108.0           BC         NCTL
 301            4.009            1      124.0            C         NCTL
 302           55.989            9      104.0           BW         NCTL
 303            8.453            2       98.0            W         NCTL
 304            2.378            0        NaN          NaN          NaN
 ..               ...          ...        ...          ...          ...
 496            5.706            3      130.0            C         NCTL
 497            5.013            1      115.0            W          CTL
 498            2.931            1      125.0            W          CTL
 499           15.288            3      131.0            C         NCTL
 500            0.749            1      127.0            W          CTL

      return_depth
 300            ND
 301            ND
 302             D
 303             D
 304            ND
 ..            ...
 496            ND
 497             D
 498             D
 499            ND
 500           NaN

 [201 rows x 46 columns],
 '2023-wimbledon-1303':                 match_id         player1          player2 elapsed_time  \
 501  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:00
 502  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:33
 503  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:04
 504  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:36
 505  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:56
 ..                   ...             ...              ...          ...
 630  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:02
 631  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:40
 632  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:36:39
 633  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:17
 634  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:54

      set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
 501       1        1         1        0        0         0  ...
 502       1        1         2        0        0         0  ...
 503       1        1         3        0        0         0  ...
 504       1        1         4        0        0         0  ...
 505       1        1         5        0        0         0  ...
 ..      ...      ...       ...      ...      ...       ...  ...
 630       3        8       130        0        2         2  ...
 631       3        8       131        0        2         2  ...
 632       3        8       132        0        2         2  ...
 633       3        8       133        0        2         2  ...
 634       3        8       134        0        2         2  ...

      p2_break_pt_won p1_break_pt_missed p2_break_pt_missed  p1_distance_run  \
 501                0                  0                  0            8.929
 502                0                  0                  0            5.196
 503                0                  0                  0           28.364
 504                0                  0                  0            6.553
 505                0                  0                  0            1.364
 ..               ...                ...                ...              ...
 630                0                  0                  0           19.826
 631                0                  0                  0           45.494
 632                0                  0                  0           27.928
 633                0                  0                  0            5.251
 634                0                  0                  0           26.599

      p2_distance_run  rally_count  speed_mph  serve_width  serve_depth  \
 501            6.360            2       99.0           BC         NCTL
 502            5.892            1      103.0            B         NCTL
 503           27.314            7      115.0           BW         NCTL
 504            4.084            1      126.0            C         NCTL
 505            0.694            1      121.0            W          CTL
 ..               ...          ...        ...          ...          ...
 630           18.539            5      103.0           BC          CTL
 631           40.420            9       91.0            B          CTL
 632           27.193            7      132.0            C         NCTL
 633            3.098            2       93.0           BW         NCTL
 634           21.189            5      110.0            W          CTL

      return_depth
 501            ND
 502             D
 503            ND
 504            ND
 505           NaN
 ..            ...
 630            ND
 631            ND
 632             D
 633            ND
 634             D

 [134 rows x 46 columns],
 '2023-wimbledon-1304':                 match_id                      player1      player2  \
 635  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 636  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 637  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 638  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 639  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 ..                   ...                          ...          ...
 967  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 968  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 969  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 970  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 971  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune

     elapsed_time  set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
 635     00:00:00       1        1         1        0        0         0  ...
 636     00:00:41       1        1         2        0        0         0  ...
 637     00:01:09       1        1         3        0        0         0  ...
 638     00:01:29       1        1         4        0        0         0  ...
 639     00:02:42       1        2         5        0        0         1  ...
 ..           ...     ...      ...       ...      ...      ...       ...  ...
 967     04:17:00       5       13       333        2        2         6  ...
 968     04:17:52       5       13       334        2        2         6  ...
 969     04:18:29       5       13       335        2        2         6  ...
 970     04:19:12       5       13       336        2        2         6  ...
 971     04:19:56       5       13       337        2        2         6  ...

      p2_break_pt_won p1_break_pt_missed p2_break_pt_missed  p1_distance_run  \
 635                0                  0                  0            4.121
 636                0                  0                  0            4.312
 637                0                  0                  0           10.046
 638                0                  0                  0            6.162
 639                0                  0                  0            3.342
 ..               ...                ...                ...              ...
 967                0                  0                  0           24.384
 968                0                  0                  0           19.726
 969                0                  0                  0           12.850
 970                0                  0                  0            0.000
 971                0                  0                  0           24.841

      p2_distance_run  rally_count  speed_mph  serve_width  serve_depth  \
 635            4.011            1       86.0            B         NCTL
 636            3.877            1       92.0            B         NCTL
 637            8.669            1      102.0            W          CTL
 638            6.163            1      120.0           BW          CTL
 639            2.573            1      112.0           BW         NCTL
 ..               ...          ...        ...          ...          ...
 967           21.663            7       97.0           BW         NCTL
 968           17.565            5      129.0            C         NCTL
 969           18.140            2       87.0            C         NCTL
 970            0.000            2        NaN          NaN          NaN
 971           19.918            5       97.0            W          CTL

      return_depth
 635             D
 636             D
 637            ND
 638            ND
 639           NaN
 ..            ...
 967            ND
 968            ND
 969            ND
 970           NaN
 971            ND

 [337 rows x 46 columns],
 '2023-wimbledon-1305':                  match_id          player1           player2 elapsed_time  \
 972   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:00
 973   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:21
 974   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:41
 975   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:11
 976   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:39
 ...                   ...              ...               ...          ...
 1213  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:02:45
 1214  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:07
 1215  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:37
 1216  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:54
 1217  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:04:23

       set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
 972        1        1         1        0        0         0  ...
 973        1        1         2        0        0         0  ...
 974        1        1         3        0        0         0  ...
 975        1        1         4        0        0         0  ...
 976        1        1         5        0        0         0  ...
 ...      ...      ...       ...      ...      ...       ...  ...
 1213       4       10       242        2        1         5  ...
 1214       4       10       243        2        1         5  ...
 1215       4       10       244        2        1         5  ...
 1216       4       10       245        2        1         5  ...
 1217       4       10       246        2        1         5  ...

       p2_break_pt_won p1_break_pt_missed p2_break_pt_missed  p1_distance_run  \
 972                 0                  0                  0           15.431
 973                 0                  0                  0            7.582
 974                 0                  0                  0            9.989
 975                 0                  0                  0            5.464
 976                 0                  0                  0            5.772
 ...               ...                ...                ...              ...
 1213                0                  0                  0            2.570
 1214                0                  0                  0           28.962
 1215                0                  0                  0            7.080
 1216                0                  0                  0           20.759
 1217                0                  0                  0            5.683

       p2_distance_run  rally_count  speed_mph  serve_width  serve_depth  \
 972            15.414            3      123.0           BC         NCTL
 973             8.545            3        NaN            C         NCTL
 974            10.337            2       88.0           BC         NCTL
 975             6.812            1       90.0           BW         NCTL
 976             9.738            2      101.0           BW         NCTL
 ...               ...          ...        ...          ...          ...
 1213            2.094            0        NaN            W          CTL
 1214           24.750            7      124.0            C         NCTL
 1215            8.486            1      124.0            W          CTL
 1216           21.807            6      125.0           BC          CTL
 1217            8.287            1      113.0            C          CTL

       return_depth
 972             ND
 973             ND
 974              D
 975              D
 976             ND
 ...            ...
 1213           NaN
 1214             D
 1215             D
 1216             D
 1217            ND

 [246 rows x 46 columns],
 '2023-wimbledon-1306':                  match_id       player1     player2 elapsed_time  set_no  \
 1218  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:00       1
 1219  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:35       1
 1220  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:58       1
 1221  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:01:39       1
 1222  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:02:03       1
 ...                   ...           ...         ...          ...     ...
 1545  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:10       5
 1546  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:31       5
 1547  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:18:09       5
 1548  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:08       5
 1549  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:45       5

       game_no  point_no  p1_sets  p2_sets  p1_games  ...  p2_break_pt_won  \
 1218        1         1        0        0         0  ...                0
 1219        1         2        0        0         0  ...                0
 1220        1         3        0        0         0  ...                0

In [6]:
raw_match_dfs = match_dfs   # Save a raw data copy of the original dataframe

def time_to_minutes(time_str):
    hours, minutes, seconds = map(int, time_str.split(':'))
    total_minutes = hours * 60 + minutes + seconds / 60.0
    return total_minutes

for match_id in match_ids:
# Here you can modify values in each matches
    match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
    
    match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
    
    match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
    
    match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
    match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
    
    match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
    
    match_dfs[match_id].loc[:,'p1_consistency'] = 0
    match_dfs[match_id].loc[:,'p2_consistency'] = 0
    for index, row in match_dfs[match_id].iterrows():
        if index<=3:
            p1_consistency_count = 0
            p2_consistency_count = 0
        else:
            p1_consistency_count = match_dfs[match_id].loc[index-3:index, 'point_victor'].eq(1).sum()
            p2_consistency_count = match_dfs[match_id].loc[index-3:index, 'point_victor'].eq(2).sum()
        match_dfs[match_id].loc[index, 'p1_consistency'] = p1_consistency_count
        match_dfs[match_id].loc[index, 'p2_consistency'] = p2_consistency_count
match_dfs

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'cumulative_points_diff'] = match_dfs[match_id].loc[:,'p1_points_won']-match_dfs[match_id].loc[:,'p2_points_won']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'ace'] = match_dfs[match_id].loc[:,'p1_ace']-match_dfs[match_id].loc[:,'p2_ace']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'double_fault'] = match_dfs[match_id].loc[:,'p1_double_fault']-match_dfs[match_id].loc[:,'p2_double_fault']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_break_pt_result'] = match_dfs[match_id].loc[:,'p1_break_pt_won']-match_dfs[match_id].loc[:,'p1_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_break_pt_result'] = match_dfs[match_id].loc[:,'p2_break_pt_won']-match_dfs[match_id].loc[:,'p2_break_pt_missed']
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'elapsed_minutes'] = match_dfs[match_id].loc[:,'elapsed_time'].apply(time_to_minutes)  # Currently not used
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p1_consistency'] = 0
C:\Users\zhuzi\AppData\Local\Temp\ipykernel_13892\3353753656.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_dfs[match_id].loc[:,'p2_consistency'] = 0

{'2023-wimbledon-1301':                 match_id         player1        player2 elapsed_time  set_no  \
 0    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:00       1
 1    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:38       1
 2    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:01       1
 3    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:31       1
 4    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:02:21       1
 ..                   ...             ...            ...          ...     ...
 295  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:53:25       4
 296  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:54:01       4
 297  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:02       4
 298  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:34       4
 299  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:56:11       4

      game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
 0          1         1        0        0         0  ...         NCTL
 1          1         2        0        0         0  ...          CTL
 2          1         3        0        0         0  ...         NCTL
 3          1         4        0        0         0  ...          CTL
 4          1         5        0        0         0  ...         NCTL
 ..       ...       ...      ...      ...       ...  ...          ...
 295       12       296        2        1         6  ...         NCTL
 296       12       297        2        1         6  ...         NCTL
 297       12       298        2        1         6  ...         NCTL
 298       12       299        2        1         6  ...         NCTL
 299       12       300        2        1         6  ...         NCTL

     return_depth cumulative_points_diff  ace  double_fault  \
 0             ND                     -1    0             0
 1             ND                      0    0             0
 2              D                     -1    0             0
 3              D                      0    0             0
 4            NaN                      1    1             0
 ..           ...                    ...  ...           ...
 295           ND                     14    0             0
 296           ND                     13    0             0
 297           ND                     14    0             0
 298           ND                     15    0             0
 299           ND                     16    0             0

      p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
 0                     0                   0         0.000000               0
 1                     0                   0         0.633333               0
 2                     0                   0         1.016667               0
 3                     0                   0         1.516667               0
 4                     0                   0         2.350000               3
 ..                  ...                 ...              ...             ...
 295                   0                   0       233.416667               2
 296                   0                   0       234.016667               2
 297                   0                  -1       235.033333               2
 298                   0                   0       235.566667               2
 299                   0                   0       236.183333               3

      p2_consistency
 0                 0
 1                 0
 2                 0
 3                 0
 4                 1
 ..              ...
 295               2
 296               2
 297               2
 298               2
 299               1

 [300 rows x 54 columns],
 '2023-wimbledon-1302':                 match_id           player1            player2 elapsed_time  \
 300  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:00
 301  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:36
 302  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:58
 303  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:01:52
 304  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:02:32
 ..                   ...               ...                ...          ...
 496  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:10:52
 497  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:11:31
 498  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:05
 499  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:44
 500  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:13:32

      set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
 300       1        1         1        0        0         0  ...         NCTL
 301       1        1         2        0        0         0  ...         NCTL
 302       1        1         3        0        0         0  ...         NCTL
 303       1        1         4        0        0         0  ...         NCTL
 304       1        1         5        0        0         0  ...          NaN
 ..      ...      ...       ...      ...      ...       ...  ...          ...
 496       3       13       197        0        2         6  ...         NCTL
 497       3       13       198        0        2         6  ...          CTL
 498       3       13       199        0        2         6  ...          CTL
 499       3       13       200        0        2         6  ...         NCTL
 500       3       13       201        0        2         6  ...          CTL

     return_depth cumulative_points_diff  ace  double_fault  \
 300           ND                      1    0             0
 301           ND                      0    0             0
 302            D                     -1    0             0
 303            D                      0    0             0
 304           ND                      1    0            -1
 ..           ...                    ...  ...           ...
 496           ND                     -3    0             0
 497            D                     -4    0             0
 498            D                     -3    1             0
 499           ND                     -2    0             0
 500          NaN                     -3   -1             0

      p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
 300                   0                   0         0.000000               1
 301                   0                   0         0.600000               1
 302                   0                   0         0.966667               1
 303                   0                   0         1.866667               2
 304                   0                   0         2.533333               2
 ..                  ...                 ...              ...             ...
 496                   0                   0       190.866667               1
 497                   0                   0       191.516667               1
 498                   0                   0       192.083333               1
 499                   0                   0       192.733333               2
 500                   0                   0       193.533333               2

      p2_consistency
 300               0
 301               1
 302               2
 303               2
 304               2
 ..              ...
 496               3
 497               3
 498               3
 499               2
 500               2

 [201 rows x 54 columns],
 '2023-wimbledon-1303':                 match_id         player1          player2 elapsed_time  \
 501  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:00
 502  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:33
 503  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:04
 504  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:36
 505  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:56
 ..                   ...             ...              ...          ...
 630  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:02
 631  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:40
 632  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:36:39
 633  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:17
 634  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:54

      set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
 501       1        1         1        0        0         0  ...         NCTL
 502       1        1         2        0        0         0  ...         NCTL
 503       1        1         3        0        0         0  ...         NCTL
 504       1        1         4        0        0         0  ...         NCTL
 505       1        1         5        0        0         0  ...          CTL
 ..      ...      ...       ...      ...      ...       ...  ...          ...
 630       3        8       130        0        2         2  ...          CTL
 631       3        8       131        0        2         2  ...          CTL
 632       3        8       132        0        2         2  ...         NCTL
 633       3        8       133        0        2         2  ...         NCTL
 634       3        8       134        0        2         2  ...          CTL

     return_depth cumulative_points_diff  ace  double_fault  \
 501           ND                      1    0             0
 502            D                      0    0             0
 503           ND                     -1    0             0
 504           ND                     -2    0             0
 505          NaN                     -3   -1             0
 ..           ...                    ...  ...           ...
 630           ND                    -30    0             0
 631           ND                    -31    0             0
 632            D                    -32    0             0
 633           ND                    -31    0             0
 634            D                    -32    0             0

      p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
 501                   0                   0         0.000000               1
 502                   0                   0         0.550000               1
 503                   0                   0         1.066667               1
 504                   0                   0         1.600000               1
 505                   0                   0         1.933333               0
 ..                  ...                 ...              ...             ...
 630                   0                   0        95.033333               1
 631                   0                   0        95.666667               0
 632                   0                   0        96.650000               0
 633                   0                   0        97.283333               1
 634                   0                   0        97.900000               1

      p2_consistency
 501               0
 502               1
 503               2
 504               3
 505               4
 ..              ...
 630               3
 631               4
 632               4
 633               3
 634               3

 [134 rows x 54 columns],
 '2023-wimbledon-1304':                 match_id                      player1      player2  \
 635  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 636  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 637  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 638  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 639  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 ..                   ...                          ...          ...
 967  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 968  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 969  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 970  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
 971  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune

     elapsed_time  set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
 635     00:00:00       1        1         1        0        0         0  ...
 636     00:00:41       1        1         2        0        0         0  ...
 637     00:01:09       1        1         3        0        0         0  ...
 638     00:01:29       1        1         4        0        0         0  ...
 639     00:02:42       1        2         5        0        0         1  ...
 ..           ...     ...      ...       ...      ...      ...       ...  ...
 967     04:17:00       5       13       333        2        2         6  ...
 968     04:17:52       5       13       334        2        2         6  ...
 969     04:18:29       5       13       335        2        2         6  ...
 970     04:19:12       5       13       336        2        2         6  ...
 971     04:19:56       5       13       337        2        2         6  ...

      serve_depth return_depth cumulative_points_diff  ace  double_fault  \
 635         NCTL            D                      1    0             0
 636         NCTL            D                      2    0             0
 637          CTL           ND                      3    0             0
 638          CTL           ND                      4    0             0
 639         NCTL          NaN                      3    0             0
 ..           ...          ...                    ...  ...           ...
 967         NCTL           ND                      5    0             0
 968         NCTL           ND                      4    0             0
 969         NCTL           ND                      3    0             0
 970          NaN          NaN                      2    0             0
 971          CTL           ND                      1    0             0

      p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
 635                   0                   0         0.000000               1
 636                   0                   0         0.683333               2
 637                   0                   0         1.150000               3
 638                   0                   0         1.483333               4
 639                   0                   0         2.700000               3
 ..                  ...                 ...              ...             ...
 967                   0                   0       257.000000               2
 968                   0                   0       257.866667               2
 969                   0                   0       258.483333               1
 970                   0                   0       259.200000               0
 971                   0                   0       259.933333               0

      p2_consistency
 635               0
 636               0
 637               0
 638               0
 639               1
 ..              ...
 967               2
 968               2
 969               3
 970               4
 971               4

 [337 rows x 54 columns],
 '2023-wimbledon-1305':                  match_id          player1           player2 elapsed_time  \
 972   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:00
 973   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:21
 974   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:41
 975   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:11
 976   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:39
 ...                   ...              ...               ...          ...
 1213  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:02:45
 1214  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:07
 1215  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:37
 1216  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:54
 1217  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:04:23

       set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
 972        1        1         1        0        0         0  ...         NCTL
 973        1        1         2        0        0         0  ...         NCTL
 974        1        1         3        0        0         0  ...         NCTL
 975        1        1         4        0        0         0  ...         NCTL
 976        1        1         5        0        0         0  ...         NCTL
 ...      ...      ...       ...      ...      ...       ...  ...          ...
 1213       4       10       242        2        1         5  ...          CTL
 1214       4       10       243        2        1         5  ...         NCTL
 1215       4       10       244        2        1         5  ...          CTL
 1216       4       10       245        2        1         5  ...          CTL
 1217       4       10       246        2        1         5  ...          CTL

      return_depth cumulative_points_diff  ace  double_fault  \
 972            ND                      1    0             0
 973            ND                      2    0             0
 974             D                      1    0             0
 975             D                      2    0             0
 976            ND                      1    0             0
 ...           ...                    ...  ...           ...
 1213          NaN                     10    0             1
 1214            D                     11    0             0
 1215            D                     12    0             0
 1216            D                     11    0             0
 1217           ND                     12    0             0

       p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
 972                    0                   0         0.000000               1
 973                    0                   0         0.350000               2
 974                    0                   0         0.683333               2
 975                    0                   0         1.183333               3
 976                    0                   0         1.650000               2
 ...                  ...                 ...              ...             ...
 1213                   0                   0       182.750000               1
 1214                   0                   0       183.116667               2
 1215                   0                   0       183.616667               3
 1216                   0                   0       183.900000               2
 1217                   0                   0       184.383333               3

       p2_consistency
 972                0
 973                0
 974                1
 975                1
 976                2
 ...              ...
 1213               3
 1214               2
 1215               1
 1216               2
 1217               1

 [246 rows x 54 columns],
 '2023-wimbledon-1306':                  match_id       player1     player2 elapsed_time  set_no  \
 1218  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:00       1
 1219  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:35       1
 1220  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:58       1
 1221  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:01:39       1
 1222  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:02:03       1
 ...                   ...           ...         ...          ...     ...
 1545  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:10       5
 1546  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:31       5
 1547  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:18:09       5
 1548  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:08       5
 1549  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:45       5

In [7]:
test_match = match_dfs.pop('2023-wimbledon-1701')
print("train match\n", match_dfs,"\ntest match\n", test_match)

train match
 {'2023-wimbledon-1301':                 match_id         player1        player2 elapsed_time  set_no  \
0    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:00       1
1    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:00:38       1
2    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:01       1
3    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:01:31       1
4    2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     00:02:21       1
..                   ...             ...            ...          ...     ...
295  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:53:25       4
296  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:54:01       4
297  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:02       4
298  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:55:34       4
299  2023-wimbledon-1301  Carlos Alcaraz  Nicolas Jarry     03:56:11       4

     game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
0          1         1        0        0         0  ...         NCTL
1          1         2        0        0         0  ...          CTL
2          1         3        0        0         0  ...         NCTL
3          1         4        0        0         0  ...          CTL
4          1         5        0        0         0  ...         NCTL
..       ...       ...      ...      ...       ...  ...          ...
295       12       296        2        1         6  ...         NCTL
296       12       297        2        1         6  ...         NCTL
297       12       298        2        1         6  ...         NCTL
298       12       299        2        1         6  ...         NCTL
299       12       300        2        1         6  ...         NCTL

    return_depth cumulative_points_diff  ace  double_fault  \
0             ND                     -1    0             0
1             ND                      0    0             0
2              D                     -1    0             0
3              D                      0    0             0
4            NaN                      1    1             0
..           ...                    ...  ...           ...
295           ND                     14    0             0
296           ND                     13    0             0
297           ND                     14    0             0
298           ND                     15    0             0
299           ND                     16    0             0

     p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
0                     0                   0         0.000000               0
1                     0                   0         0.633333               0
2                     0                   0         1.016667               0
3                     0                   0         1.516667               0
4                     0                   0         2.350000               3
..                  ...                 ...              ...             ...
295                   0                   0       233.416667               2
296                   0                   0       234.016667               2
297                   0                  -1       235.033333               2
298                   0                   0       235.566667               2
299                   0                   0       236.183333               3

     p2_consistency
0                 0
1                 0
2                 0
3                 0
4                 1
..              ...
295               2
296               2
297               2
298               2
299               1

[300 rows x 54 columns], '2023-wimbledon-1302':                 match_id           player1            player2 elapsed_time  \
300  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:00
301  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:36
302  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:00:58
303  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:01:52
304  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     00:02:32
..                   ...               ...                ...          ...
496  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:10:52
497  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:11:31
498  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:05
499  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:12:44
500  2023-wimbledon-1302  Alexander Zverev  Matteo Berrettini     03:13:32

     set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
300       1        1         1        0        0         0  ...         NCTL
301       1        1         2        0        0         0  ...         NCTL
302       1        1         3        0        0         0  ...         NCTL
303       1        1         4        0        0         0  ...         NCTL
304       1        1         5        0        0         0  ...          NaN
..      ...      ...       ...      ...      ...       ...  ...          ...
496       3       13       197        0        2         6  ...         NCTL
497       3       13       198        0        2         6  ...          CTL
498       3       13       199        0        2         6  ...          CTL
499       3       13       200        0        2         6  ...         NCTL
500       3       13       201        0        2         6  ...          CTL

    return_depth cumulative_points_diff  ace  double_fault  \
300           ND                      1    0             0
301           ND                      0    0             0
302            D                     -1    0             0
303            D                      0    0             0
304           ND                      1    0            -1
..           ...                    ...  ...           ...
496           ND                     -3    0             0
497            D                     -4    0             0
498            D                     -3    1             0
499           ND                     -2    0             0
500          NaN                     -3   -1             0

     p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
300                   0                   0         0.000000               1
301                   0                   0         0.600000               1
302                   0                   0         0.966667               1
303                   0                   0         1.866667               2
304                   0                   0         2.533333               2
..                  ...                 ...              ...             ...
496                   0                   0       190.866667               1
497                   0                   0       191.516667               1
498                   0                   0       192.083333               1
499                   0                   0       192.733333               2
500                   0                   0       193.533333               2

     p2_consistency
300               0
301               1
302               2
303               2
304               2
..              ...
496               3
497               3
498               3
499               2
500               2

[201 rows x 54 columns], '2023-wimbledon-1303':                 match_id         player1          player2 elapsed_time  \
501  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:00
502  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:00:33
503  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:04
504  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:36
505  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     00:01:56
..                   ...             ...              ...          ...
630  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:02
631  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:35:40
632  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:36:39
633  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:17
634  2023-wimbledon-1303  Frances Tiafoe  Grigor Dimitrov     01:37:54

     set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
501       1        1         1        0        0         0  ...         NCTL
502       1        1         2        0        0         0  ...         NCTL
503       1        1         3        0        0         0  ...         NCTL
504       1        1         4        0        0         0  ...         NCTL
505       1        1         5        0        0         0  ...          CTL
..      ...      ...       ...      ...      ...       ...  ...          ...
630       3        8       130        0        2         2  ...          CTL
631       3        8       131        0        2         2  ...          CTL
632       3        8       132        0        2         2  ...         NCTL
633       3        8       133        0        2         2  ...         NCTL
634       3        8       134        0        2         2  ...          CTL

    return_depth cumulative_points_diff  ace  double_fault  \
501           ND                      1    0             0
502            D                      0    0             0
503           ND                     -1    0             0
504           ND                     -2    0             0
505          NaN                     -3   -1             0
..           ...                    ...  ...           ...
630           ND                    -30    0             0
631           ND                    -31    0             0
632            D                    -32    0             0
633           ND                    -31    0             0
634            D                    -32    0             0

     p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
501                   0                   0         0.000000               1
502                   0                   0         0.550000               1
503                   0                   0         1.066667               1
504                   0                   0         1.600000               1
505                   0                   0         1.933333               0
..                  ...                 ...              ...             ...
630                   0                   0        95.033333               1
631                   0                   0        95.666667               0
632                   0                   0        96.650000               0
633                   0                   0        97.283333               1
634                   0                   0        97.900000               1

     p2_consistency
501               0
502               1
503               2
504               3
505               4
..              ...
630               3
631               4
632               4
633               3
634               3

[134 rows x 54 columns], '2023-wimbledon-1304':                 match_id                      player1      player2  \
635  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
636  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
637  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
638  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
639  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
..                   ...                          ...          ...
967  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
968  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
969  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
970  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune
971  2023-wimbledon-1304  Alejandro Davidovich Fokina  Holger Rune

    elapsed_time  set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  \
635     00:00:00       1        1         1        0        0         0  ...
636     00:00:41       1        1         2        0        0         0  ...
637     00:01:09       1        1         3        0        0         0  ...
638     00:01:29       1        1         4        0        0         0  ...
639     00:02:42       1        2         5        0        0         1  ...
..           ...     ...      ...       ...      ...      ...       ...  ...
967     04:17:00       5       13       333        2        2         6  ...
968     04:17:52       5       13       334        2        2         6  ...
969     04:18:29       5       13       335        2        2         6  ...
970     04:19:12       5       13       336        2        2         6  ...
971     04:19:56       5       13       337        2        2         6  ...

     serve_depth return_depth cumulative_points_diff  ace  double_fault  \
635         NCTL            D                      1    0             0
636         NCTL            D                      2    0             0
637          CTL           ND                      3    0             0
638          CTL           ND                      4    0             0
639         NCTL          NaN                      3    0             0
..           ...          ...                    ...  ...           ...
967         NCTL           ND                      5    0             0
968         NCTL           ND                      4    0             0
969         NCTL           ND                      3    0             0
970          NaN          NaN                      2    0             0
971          CTL           ND                      1    0             0

     p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
635                   0                   0         0.000000               1
636                   0                   0         0.683333               2
637                   0                   0         1.150000               3
638                   0                   0         1.483333               4
639                   0                   0         2.700000               3
..                  ...                 ...              ...             ...
967                   0                   0       257.000000               2
968                   0                   0       257.866667               2
969                   0                   0       258.483333               1
970                   0                   0       259.200000               0
971                   0                   0       259.933333               0

     p2_consistency
635               0
636               0
637               0
638               0
639               1
..              ...
967               2
968               2
969               3
970               4
971               4

[337 rows x 54 columns], '2023-wimbledon-1305':                  match_id          player1           player2 elapsed_time  \
972   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:00
973   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:21
974   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:00:41
975   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:11
976   2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     00:01:39
...                   ...              ...               ...          ...
1213  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:02:45
1214  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:07
1215  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:37
1216  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:03:54
1217  2023-wimbledon-1305  Daniil Medvedev  Marton Fucsovics     03:04:23

      set_no  game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
972        1        1         1        0        0         0  ...         NCTL
973        1        1         2        0        0         0  ...         NCTL
974        1        1         3        0        0         0  ...         NCTL
975        1        1         4        0        0         0  ...         NCTL
976        1        1         5        0        0         0  ...         NCTL
...      ...      ...       ...      ...      ...       ...  ...          ...
1213       4       10       242        2        1         5  ...          CTL
1214       4       10       243        2        1         5  ...         NCTL
1215       4       10       244        2        1         5  ...          CTL
1216       4       10       245        2        1         5  ...          CTL
1217       4       10       246        2        1         5  ...          CTL

     return_depth cumulative_points_diff  ace  double_fault  \
972            ND                      1    0             0
973            ND                      2    0             0
974             D                      1    0             0
975             D                      2    0             0
976            ND                      1    0             0
...           ...                    ...  ...           ...
1213          NaN                     10    0             1
1214            D                     11    0             0
1215            D                     12    0             0
1216            D                     11    0             0
1217           ND                     12    0             0

      p1_break_pt_result  p2_break_pt_result  elapsed_minutes  p1_consistency  \
972                    0                   0         0.000000               1
973                    0                   0         0.350000               2
974                    0                   0         0.683333               2
975                    0                   0         1.183333               3
976                    0                   0         1.650000               2
...                  ...                 ...              ...             ...
1213                   0                   0       182.750000               1
1214                   0                   0       183.116667               2
1215                   0                   0       183.616667               3
1216                   0                   0       183.900000               2
1217                   0                   0       184.383333               3

      p2_consistency
972                0
973                0
974                1
975                1
976                2
...              ...
1213               3
1214               2
1215               1
1216               2
1217               1

[246 rows x 54 columns], '2023-wimbledon-1306':                  match_id       player1     player2 elapsed_time  set_no  \
1218  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:00       1
1219  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:35       1
1220  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:00:58       1
1221  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:01:39       1
1222  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     00:02:03       1
...                   ...           ...         ...          ...     ...
1545  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:10       5
1546  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:17:31       5
1547  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:18:09       5
1548  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:08       5
1549  2023-wimbledon-1306  Jiri Lehecka  Tommy Paul     06:19:45       5

      game_no  point_no  p1_sets  p2_sets  p1_games  ...  serve_depth  \
1218        1         1        0        0         0  ...          CTL
1219        1         2        0        0         0  ...         NCTL
1220        1         3        0        0         0  ...         NCTL

In [8]:
# Initialize lists to store the extracted data
X_classification_list = []
y_classification_list = []
accuracy_sum = 0


# Iterate over each match DataFrame in the match_dfs dictionary
for key, df in match_dfs.items():
    
    # Select relevant columns for classification
    X_classification = df[[
                           'cumulative_points_diff',
                           'ace',
                           'double_fault',
                           'p1_break_pt_result', 'p2_break_pt_result',
                           'p1_consistency', 'p2_consistency',
                           'p1_unf_err', 'p2_unf_err'
                           ]]
    y_classification = df['point_victor']  # Target variable (player 1 or player 2 win)

    # Split data into train and test sets
    X_train_tree, X_test_tree, y_train_tree, y_test_tree = train_test_split(X_classification, y_classification, test_size=0.2, shuffle=False)

    # Train Decision Tree Classifier
    clf = DecisionTreeClassifier()
    clf.fit(X_train_tree, y_train_tree)

    # Evaluate Decision Tree Classifier
    y_pred_class = clf.predict(X_test_tree)
    accuracy = accuracy_score(y_test_tree, y_pred_class)
    print(f"Accuracy for {key}: {accuracy}")
    accuracy_sum += accuracy

    # Store features and labels for concatenation
    X_classification_list.append(X_classification)
    y_classification_list.append(y_classification)

accuracy_average = accuracy_sum/31
print(f'The average accuracy in training sets is: {accuracy_average}')
# Concatenate features and labels from all matches
X_classification_concat = pd.concat(X_classification_list)
y_classification_concat = pd.concat(y_classification_list)

# Train final Decision Tree Classifier on concatenated data
final_clf = DecisionTreeClassifier()
final_clf.fit(X_classification_concat, y_classification_concat)

Accuracy for 2023-wimbledon-1301: 0.7166666666666667
Accuracy for 2023-wimbledon-1302: 0.7073170731707317
Accuracy for 2023-wimbledon-1303: 0.7037037037037037
Accuracy for 2023-wimbledon-1304: 0.7058823529411765
Accuracy for 2023-wimbledon-1305: 0.7
Accuracy for 2023-wimbledon-1306: 0.7910447761194029
Accuracy for 2023-wimbledon-1307: 0.5957446808510638
Accuracy for 2023-wimbledon-1308: 0.5526315789473685
Accuracy for 2023-wimbledon-1309: 0.7674418604651163
Accuracy for 2023-wimbledon-1310: 0.78125
Accuracy for 2023-wimbledon-1311: 0.9117647058823529
Accuracy for 2023-wimbledon-1312: 0.8363636363636363
Accuracy for 2023-wimbledon-1313: 0.8275862068965517
Accuracy for 2023-wimbledon-1314: 0.5405405405405406
Accuracy for 2023-wimbledon-1315: 0.85
Accuracy for 2023-wimbledon-1316: 0.8529411764705882
Accuracy for 2023-wimbledon-1401: 0.7111111111111111
Accuracy for 2023-wimbledon-1402: 0.7818181818181819
Accuracy for 2023-wimbledon-1403: 0.76
Accuracy for 2023-wimbledon-1404: 0.7586206896551724
Accuracy for 2023-wimbledon-1405: 0.6976744186046512
Accuracy for 2023-wimbledon-1406: 0.7692307692307693
Accuracy for 2023-wimbledon-1407: 0.7910447761194029
Accuracy for 2023-wimbledon-1408: 0.7636363636363637
Accuracy for 2023-wimbledon-1501: 0.7368421052631579
Accuracy for 2023-wimbledon-1502: 0.8245614035087719
Accuracy for 2023-wimbledon-1503: 0.8461538461538461
Accuracy for 2023-wimbledon-1504: 0.7272727272727273
Accuracy for 2023-wimbledon-1601: 0.78125
Accuracy for 2023-wimbledon-1602: 0.7560975609756098
The average accuracy in training sets is: 0.7272965455602795

DecisionTreeClassifier()

In [9]:
test_match_cleaned = test_match[[
                           'cumulative_points_diff',
                           'ace',
                           'double_fault',
                           'p1_break_pt_result', 'p2_break_pt_result',
                           'p1_consistency', 'p2_consistency',
                           'p1_unf_err', 'p2_unf_err'
                           ]]
test_predictions = final_clf.predict(test_match_cleaned)
print("Test Predictions:", test_predictions)

y_test_classification = test_match['point_victor']
accuracy = accuracy_score(y_test_classification, test_predictions)
conf_matrix = confusion_matrix(y_test_classification, test_predictions)

print("Accuracy on Test Match:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Test Predictions: [2 1 1 2 1 2 2 2 2 2 2 2 2 1 1 2 2 1 2 2 1 2 2 2 2 2 1 1 1 2 2 2 2 2 2 1 1
 2 2 1 1 1 1 2 2 2 2 2 1 1 1 1 1 1 2 2 1 2 1 1 2 1 1 2 1 2 2 2 1 2 2 1 1 2
 2 2 2 2 1 1 1 2 1 2 1 1 1 1 1 1 2 2 2 1 1 1 1 1 1 2 2 2 2 1 1 1 1 2 1 2 2
 2 2 2 2 2 1 1 1 1 1 2 1 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 2 2 1 2 2 1 1 2
 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 1 1 1 1 1 1 2 2 2 1 2 1 2 1 1 2 2 1 1 2 2 2
 1 2 2 1 1 2 1 2 1 2 2 2 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 2 1 1 1 1 1 1 2 2 2
 2 2 2 1 1 1 2 1 2 1 2 1 1 1 2 1 1 1 1 1 2 1 2 1 2 2 1 2 1 1 2 2 2 2 2 2 2
 2 2 2 1 1 1 2 2 2 2 2 2 1 2 2 2 2 2 1 2 2 2 2 2 2 2 2 1 2 1 1 1 1 1 1 2 1
 1 1 1 1 1 1 2 2 1 2 2 2 2 2 1 1 1 1 2 2 2 2 2 2 2 1 1 1 2 2 2 2 2 2 2 2 1
 1]
Accuracy on Test Match: 0.7934131736526946
Confusion Matrix:
 [[130  38]
 [ 31 135]]

In [10]:
# Split data into train and test sets
X_train_forest, X_test_forest, y_train_forest, y_test_forest = train_test_split(X_classification, y_classification, test_size=0.05, shuffle=False)

# Initialize Random Forest classifier with default parameters
rf_clf = RandomForestClassifier()

# Train the classifier on the training data
rf_clf.fit(X_train_forest, y_train_forest)

# Make predictions on the test data
y_pred = rf_clf.predict(test_match_cleaned)
print(y_pred)

# Calculate accuracy score
accuracy = accuracy_score(test_match['point_victor'], y_pred)
print("Accuracy:", accuracy)

[2 1 1 1 1 2 2 1 2 1 2 2 2 1 1 2 2 1 1 2 1 2 2 2 2 2 1 1 2 2 1 2 1 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 2 2 2 1 2 1 1 2 1 1 2 1 2 1 2 1 2 2 2 2 2
 2 2 2 2 1 1 1 2 2 2 2 1 1 1 1 2 2 2 2 2 1 1 1 1 2 2 2 2 2 1 1 1 1 2 2 2 2
 2 2 2 2 2 2 1 1 1 1 2 1 2 1 2 2 2 2 1 1 1 1 1 2 2 1 1 1 1 2 2 2 2 2 1 1 2
 1 1 1 2 1 2 1 1 1 2 2 1 2 2 2 1 1 1 1 1 1 2 2 2 1 2 1 2 1 1 2 2 1 1 2 2 1
 1 2 2 1 2 2 1 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 2 2
 2 2 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 2 2 1 2 1 1 2 2 2 2 2 1 2
 1 1 1 1 1 1 1 2 2 2 2 2 1 2 2 2 2 1 1 2 2 1 2 2 2 2 2 1 2 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 2 1 2 2 1 2 1 1 1 1 1 1 1 1 2 2 2 1 1 1 1 1 2 2 2 2 1 1 1 1
 1]
Accuracy: 0.7904191616766467

In [14]:
# comparison between decision tree and decision tree group
consistancy = accuracy_score(test_predictions, y_pred)
print("Consistancy between two models are: ", consistancy)

Consistancy between two models are:  0.8293413173652695